//mixins mobile
@mixin mobile {
  @media (min-width: $sm) {
    @content;
  }
}

@mixin button-mobile {
  width: 85%;
  padding: 0.8em 0;
  margin: 1em 7.5%;
  color: $white;
  text-transform: uppercase;
  font-family: $font-arial;
  border-radius: 10px;
  border: none;
}

//mixins desktop
@mixin desktop {
  @media (min-width: $lg) {
    @content;
  }
}

@mixin button-desktop {
  display: inline-block;
  width: 15%;
  margin: 1em;
}

@mixin transition {
  transition-property: background-color;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
}

//mixin Flexbox
@mixin btn-desk-flex {
  display: flex;
  justify-content: center;
}
