
 img {
  @include mobile {
    display: block;
    margin: auto;
  }

  @include desktop {
    margin-left: 30%;
  }
}

.img--avatar {
  margin-bottom: 2em;
}

.img--frame {
  width: 85%;
  padding: 10px;
  border: 1px solid $grey;
}
