

.nav {
  @include desktop {
   @include nav-desk-flex
  }
}

.nav .nav__item {
  list-style-type: none;
  &:hover {
    @include transition;
    background-color: $aqua;
    a {
      color: $white;
      font-weight: bold;
    }
  }
    @include mobile {
      text-align: center;
      padding: 1em;
      width: 80%;
      margin: auto;
      border-radius: 10px;
  }
    @include desktop {
      text-align: center;
      display: inline-block;
      width: 6.8em;
      padding: .5em 0 .5em 0;
      margin: .5em 0 .5em 0;
    }
}

.nav a {
  color: $grey;
  text-decoration: none;
}
