
.nav li,
.headline--primary,
p,
.headline--secondary,
.blockquote {
  font-family: $font-arial;
}

.headline--primary{
  margin-left: 15%;
  color: $aqua;
}

.headline--secondary,
.card {
  margin-left: 10%;
  width: 80%;
  color: $grey;
}

.headline--secondary {

  font-weight: lighter;
}

p {
  margin: auto;
  & .link {
    color: 'default';
    text-decoration: none;
  }
}

.blockquote {
  font-size: 1.6em;
  font-style: italic;
  color: $grey;
  margin-left: 15%;
  padding-left: 5%;
  border-left: 10px solid $aqua;
  border-radius: 6px;
}
